.controls-loader {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {
    flex: 1;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
  }

  .button-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }

  .controls-progress {
    width: 100%;
  }
}
.loader-container {
  height: 100%;
  display: flex;
  align-items: center;
}
