* {
  margin: 0;
  padding: 0;
}

body,
html,
#root,
.App {
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.controls-loader {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.controls-loader div {
  flex: 1;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}

.controls-loader .button-group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.controls-progress {
  width: 100%;
}

.setting-container {
  justify-content: center;
  width: 100%;
}

.main-container h4 {
  margin-bottom: 5px;
}

.main-container h4 *:last-child {
  margin-left: 5px;
}

.clear-margins {
  margin: 0 !important;
}

.extension-text {
  font-weight: 200;
  font-size: 10pt;
  margin-top: 5px;
  font-style: italic;
  text-align: center;
}

.complete-bonus-text {
  font-style: italic;
  text-align: center;
  font-weight: 200;
  font-size: 10pt;
}

.data-popup {
  position: relative !important;
  left: -10px !important;
}

.stopped-modal {
  width: 100%;
}

.fit-loader-logo {
  margin-bottom: 20px;
}

.homepage-container {
  width: 100%;
  padding: 10px;
}

.homepage-container .segments {
  margin: 1rem 0 !important;
}

.settings-segment {
  padding: 0 !important;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-body {
  max-height: 200px;
  overflow: hidden;

  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.settings-body.hidden {
  max-height: 0px;
}
